.hero {
  min-height: calc(100dvh - 100px);
  display: flex;
  align-items: center;
}

.container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 1rem;
  position: relative;
  z-index: 10;
}

.bgLines {
  position: absolute;
  top: 50%;
  height: calc(100dvh - 200px);
  width: 100%;
  transform: translateY(-50%);
  object-fit: cover;
  object-position: top;
  user-select: none;
}

.chair {
  width: 300px;
  user-select: none;
}

.title {
  align-self: flex-end;
  font-size: 2rem;
  line-height: 1;
  color: var(--black);
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }
  .chair {
    display: none;
  }

  .title {
    font-size: 3rem;
    align-self: center;
    text-align: center;
  }
}
