.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-family: 'Bureau', sans-serif;
  gap: 1rem;
  height: 100%;
}

.categories {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &Item {
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 10px;
  flex-grow: 1;
  overflow-y: scroll;

  &Item {
    border: 2px solid;
    background-color: var(--yellow);
  }
}
