.wrapper {
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

.container {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.title {
  font-size: 2.2rem;
  color: var(--black);
  line-height: 1.2;
  text-align: center;
  max-width: 1000px;
  margin-inline: auto;

  & span {
    text-decoration: underline;
    text-decoration-color: #efbc18;
    text-decoration-thickness: 10px;
    text-underline-offset: 8px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;

  @media (max-width: 876px) {
    flex-direction: column;
  }
}

.item {
  flex-basis: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & h5 {
    font-size: 1.5rem;
    line-height: 1;
    min-height: 80px;
  }

  & p {
    font-size: 1.2rem;
    line-height: 1;
  }
}

.number {
  height: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--yellow);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 876px) {
  .list {
    gap: 2rem;
  }

  .item {
    & h5 {
      min-height: auto;
    }
  }

  .number {
    height: 50px;
    font-size: 1.8rem;
  }
}
