.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--black);
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
}

.fullName {
  font-size: 15px;
}
