@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@font-face {
  font-family: 'Onder';
  src: url('../assets/fonts/ONDER-REGULAR.TTF') format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Bureau';
  src: url('../assets/fonts/Non\ Bureau_Normal/NonBureau-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Bureau';
  src: url('../assets/fonts/Non\ Bureau_Normal/NonBureau-Regular.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Bureau';
  src: url('../assets/fonts/Non\ Bureau_Normal/NonBureau-Medium.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Bureau';
  src: url('../assets/fonts/Non\ Bureau_Normal/NonBureau-Bold.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}
