@import 'tailwindcss';
@import './vars.scss';

html {
  font-size: 20px;
}

body {
  font-family: 'Bureau', sans-serif;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Onder', sans-serif;
}

@media (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
