@use 'tailwindcss';
@use './vars.scss';

html {
  font-size: 20px;
}

body {
  font-family: 'Bureau', sans-serif;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Unbounded', sans-serif;
}

.auth-back {
  display: block;
  background-color: var(--yellow);
  padding: 5px 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.spinner .ant-spin-dot-item {
  background-color: var(--yellow) !important;
}

.menu-item {
  font-family: 'Bureau';
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 1rem;

  &:hover {
    color: var(--yellow);
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
