.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--black);
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
}

.fullName {
  font-size: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;
  margin-inline: 1rem;

  &Item {
    border-radius: 10px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--gray);
    overflow: hidden;

    & img {
      width: 100%;
      border-bottom: 1px solid var(--gray);
      flex-grow: 1;
    }

    & p {
      font-size: 16px;
      padding: 8px;
    }
  }
}

.add {
  cursor: pointer;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .grid {
    grid-auto-rows: auto;
  }

  .add {
    height: 200px;
  }
}
