.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--black);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;

  &Item {
    border: 1px solid;
  }
}
