.hero {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  position: relative;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding-inline: 1rem;
  position: relative;
  z-index: 10;
}

.bgLines {
  position: absolute;
  top: 50%;
  height: calc(100vh - 200px);
  width: 100%;
  transform: translateY(-50%);
  object-fit: cover;
  object-position: top;
  user-select: none;

  @media (max-width: 1024px) {
    max-height: calc(100vh - 200px);
    height: 400px;
  }
}

.title {
  font-size: 5rem;
  align-self: center;
  text-align: center;
  line-height: 1;
  color: var(--black);

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}
