.wrapper {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-top: 2rem;
}

.title {
  font-size: 2.2rem;
  line-height: 1;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.card {
  flex-basis: 350px;
  min-height: 500px;
  border-radius: 1rem;
  display: flex;
  align-items: center;

  & img {
    user-select: none;
  }
}

.scriptAgency {
  background-color: #060d0b;
}

.bgLines {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: top;
  user-select: none;
  z-index: -1;
}
