.form {
  width: 500px;
  margin: auto;
  padding: 1rem 2rem;
  border: 1px solid #eae3e3;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.button {
  background-color: var(--yellow);
  padding: 1rem;
  font-weight: bold;
  border-radius: 15px;
  font-size: 1rem;

  &:disabled {
    filter: brightness(0.9);
  }
}
