.form {
  width: 600px;
  margin-inline: auto;
  padding: 1rem 2rem;
  border: 2px solid var(--black);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.button {
  background-color: var(--yellow);
  padding: 1rem;
  font-weight: bold;
  border-radius: 15px;
  font-size: 1.5rem;
}
