.header {
  display: flex;
  height: 100px;
  position: sticky;
  top: -100%;
  z-index: 20;
  background-color: var(--white);
  transition: all 0.5s ease;
}

.show {
  top: 0;
}

.container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 1rem;
}

.logo {
  font-family: 'Unbounded', sans-serif;
  line-height: 1;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--black);
}

.link {
  font-weight: bold;
  position: relative;
  transition: all 0.4s ease;
  padding: 5px 1rem;

  & svg {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 0.4s ease;
    opacity: 0;
  }

  &:hover {
    color: var(--yellow);

    & svg {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}

.button {
  background-color: var(--brown);
  color: white;
  font-weight: 300;
  padding: 0.5rem 3.5rem;
  border-radius: 2rem;
  line-height: 1;
  text-align: center;
}

.menu {
  display: none;
  padding: 0.6rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
    height: 80px;
  }

  .link {
    display: none;
  }

  .menu {
    display: block;
  }

  .button {
    padding: 0.5rem 2rem;
  }
}
