.footer {
  min-height: 100dvh;
  display: flex;
}

.container {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.title {
  font-size: 3rem;
  font-style: italic;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 8rem;

  @media (max-width: 768px) {
    margin-bottom: 4rem;
  }
}

.blog {
  margin-top: auto;
  margin-inline: auto;
  width: 80%;
  background-color: var(--yellow);
  padding-inline: 4rem;
  padding-block: 5rem 0.7rem;
  border-radius: 200px 200px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 1024px) {
    width: 100%;
    border-radius: 0;
    flex-direction: column;
  }
}

.nav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding-inline: 1rem;
  color: gray;
  border-radius: 0px 0px 8px 8px;
}
