.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-family: 'Bureau', sans-serif;
  gap: 1rem;
}

.categories {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &Item {
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 10px;
  flex-grow: 1;

  &Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid #ddd9d9;
  }
}
