.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;

  @media (max-width: 1024px) {
    width: 100%;
    overflow-x: scroll;
  }
}

.stage {
  border: 2px solid;
  background-image: linear-gradient(to right, #e5e5e5 1px, transparent 1px),
    linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
  background-size: 20px 20px;
  transition: all 0.25s ease;

  &Active {
    background-image: linear-gradient(
        to right,
        var(--yellow) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, var(--yellow) 1px, transparent 1px);
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
