.wrapper {
  min-height: 100vh;
  color: var(--black);
  display: flex;
  position: relative;
  margin-block: 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  flex-grow: 1;
  margin-inline: auto;
  padding-inline: 1rem;
  z-index: 10;
  gap: 4rem;
  margin-top: 4rem;
}

.bgLine {
  position: absolute;
  width: 100%;
  object-position: center;

  @media (max-width: 1024px) {
    top: 50%;
    transform: translateY(-50%);
    max-height: calc(100vh - 200px);
    height: 400px;
  }
}

.title {
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  display: block;
  line-height: 1;
}

.textLeft {
  max-width: 900px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: lighter;
  font-family: 'Unbounded', sans-serif;
}

.textRight {
  max-width: 900px;
  margin-left: auto;
  text-align: right;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: lighter;
  font-family: 'Unbounded', sans-serif;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .textLeft,
  .textRight {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .textLeft,
  .textRight {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
