.wrapper {
  min-height: 100dvh;
  color: var(--black);
  display: flex;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  flex-grow: 1;
  margin-inline: auto;
  padding-inline: 1rem;
  z-index: 10;
  gap: 4rem;
  margin-top: 4rem;
}

.bgLine {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  display: block;
  line-height: 1;
}

.textLeft {
  max-width: 900px;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: lighter;
  font-family: 'Unbounded', sans-serif;
}

.textRight {
  max-width: 900px;
  margin-left: auto;
  text-align: right;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: lighter;
  font-family: 'Unbounded', sans-serif;
}

@media (max-width: 768px) {
  .textLeft,
  .textRight {
    text-align: center;
    margin-bottom: 2rem;
  }

  .bgLine {
    top: 50%;
    transform: translateY(-50%);
  }
}
